Program_Structure_and_Interpretation/Labs_and_Hwks/CS61A Hwk & Lab Prompts/
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# WebStorm
*.iml

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

##other
#node_modules/
#bower_components/
.tmp
#.sass-cache
#builds/**/images/*
#*.ogg
#*.mp3
#*.mp4
#*.png
#*.jpeg
*.psd
/Data_Structure/Heap/dist/
/Data_Structure/MST/build/
/Data_Structure/MST/nbproject/private/
/Data_Structure/MST/dist/